<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <title>SocialMap</title>
  </head>
  <body>
    <!-- HEADER:START -->
    <header class="container header">
      <a href="#">
        <img src="/assets/icons/camera.svg" alt="" class="icon" />
      </a>
      <a href="#">
        <img src="/assets/icons/message.svg" alt="" class="icon" />
      </a>
    </header>
    <!-- HEADER:END -->

    <!-- NAVIGATION:START -->
    <%- include('partials/navigation', {active: 'home'}) %>
    <!-- NAVIGATION:END -->

    <!-- MAIN:START -->
    <main class="container" id="threads-container"></main>
    <!-- MAIN:END -->

    <script>
      const SERVER = '<%= SERVER %>';

      const threadsContainer = document.getElementById('threads-container');

      const getThreats = async () => {
        try {
          const response = await fetch(`${SERVER}/threads`);

          if (response.status !== 200) {
            throw new Error('Failed to fetch');
          }

          const responseJson = await response.json();

          return responseJson.data;
        } catch (error) {
          console.log(error);
          return [];
        }
      };

      const createThreadTemplate = (thread) => {
        return `
        <article class="thread">
          <header class="thread__header">
            <img
              src="https://avatars.dicebear.com/api/avataaars/ewdswjkdslao.svg?b=%23b3f0ff"
              alt=""
              class="thread__avatar"
            />
            <div class="thread__user">
              <span>Guests</span>
              <p>Medan, Indonesia</p>
            </div>
            <div class="thread__menu">
              <!-- <img src="assets/icons/more-circle.svg" alt="" class="icon" /> -->
            </div>
          </header>
          <div class="thread__body">
            <img
              src="https://source.unsplash.com/random"
              alt=""
              class="thread__picture"
            />

            <p class="thread__caption truncate">
              ${thread.caption}
            </p>
            <!-- <span class="read-caption">Read more</span> -->
          </div>
          <div class="thread__footer">
            <div>
              <img src="/assets/icons/heart.svg" alt="" class="icon" />
              <img src="/assets/icons/bookmark.svg" alt="" class="icon" />
            </div>
            <div>
              <img src="/assets/icons/chat.svg" alt="" class="icon" />
            </div>
          </div>
        </article>
        `;
      };

      const init = async () => {
        const { threads } = await getThreats();
        let template = '';
        threads.forEach((thread) => {
          template += createThreadTemplate(thread);
        });

        threadsContainer.innerHTML = template;
      };

      init();
    </script>
  </body>
</html>
