<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <!-- mapbox -->
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.css"
      rel="stylesheet"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.js"></script>

    <title>SocialMap</title>
  </head>
  <body>
    <!-- HEADER:START -->
    <header class="container header">
      <a href="#">
        <img src="/assets/icons/camera.svg" alt="" class="icon" />
      </a>
      <a href="#">
        <img src="/assets/icons/message.svg" alt="" class="icon" />
      </a>
    </header>
    <!-- HEADER:END -->

    <!-- MODE:START -->
    <div class="mode__wrapper">
      <div class="container mode">
        <button id="mode__toggle">
          <img src="/assets/icons/map.svg" alt="" /> <span>Maps</span>
        </button>
      </div>
    </div>
    <!-- MODE:END -->

    <!-- NAVIGATION:START -->
    <%- include('partials/navigation', {active: 'home'}) %>
    <!-- NAVIGATION:END -->

    <!-- MAIN:START -->
    <main class="main">
      <div class="container" id="threads-container">
        <div class="notfound">
          <h2>Ooops nothing here...</h2>
          <p>Create your own post to share</p>
        </div>
      </div>

      <div class="container" id="mapbox-container">
        <div id="map" class="map hidden"></div>
      </div>
    </main>
    <!-- MAIN:END -->

    <script>
      const MAPBOX_TOKEN = '<%= MAPBOX_TOKEN %>';
    </script>

    <script src="/js/index.js" type="module"></script>
  </body>
</html>
