<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/post.css" />
    <title>Social Media</title>
  </head>
  <body>
    <!-- HEADER:START -->
    <header class="container header">
      <a href="#">
        <img src="./assets/icons/camera.svg" alt="" class="icon" />
      </a>
      <a href="#">
        <img src="./assets/icons/message.svg" alt="" class="icon" />
      </a>
    </header>
    <!-- HEADER:END -->

    <!-- NAVIGATION:START -->
    <%- include('partials/navigation', {active: 'post'})%>
    <!-- NAVIGATION:END -->

    <!-- MAIN:START -->
    <main class="container">
      <form id="form" enctype="multipart/form-data">
        <label for="picture" class="picture__label" id="picture__preview">
          <div>
            <img src="./assets/icons/upload.svg" alt="" class="icon" />
            <p>Upload Picture</p>
          </div>
        </label>
        <input
          type="file"
          id="picture"
          class="picture__input"
          accept="image/*"
          name="picture"
          required
        />
        <label for="caption" class="caption__label">
          <textarea
            id="caption"
            name="caption"
            class="input"
            rows="8"
            placeholder="Caption..."
            required
          ></textarea>
        </label>
        <input type="checkbox" name="location" id="location" />
        <label class="button location" for="location" id="location-label">
          <img src="/assets/icons/location.svg" alt="" />
          <span>Get current location</span>
        </label>
        <input type="text" name="longitude" id="longitude" hidden />
        <input type="text" name="latitude" id="latitude" hidden />
        <button type="submit" class="button submit" id="submit-button">
          Upload
        </button>
      </form>
    </main>
    <!-- MAIN:END -->

    <script>
      const MAPBOX_TOKEN = '<%= MAPBOX_TOKEN %>';
    </script>

    <script src="/js/post.js" type="module"></script>
  </body>
</html>
